// ==========================================================================================
// Helpers
// ==========================================================================================

%pseudos {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    z-index: 1;
    left: 0;
    top: 0;
}
