// ==========================================================================================
// Main
// ==========================================================================================

// Make all text white improve visibility against dark background.
.upfront-layout .upfront-object-view {
    h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, div, dd, dl, dt, b, i, figcaption, figure, main, span, pre, blockquote {
        color: #FFF !important;
    }
}

// Darken buttons
.upfront_cta {
    background-color: $color--overlay !important;
    border-color: #FFF !important;
}

// Set border colors
.upfront-module-group {
    @include x-ray-border($color--group);
}

.upfront-module {
    @include x-ray-border($color--module);
}

.upfront-region-container {
    @include x-ray-border($color--region);
}

// Darken backgrounds & overlays
.upfront-region-container {
    position: relative;
    @include overlay($color--transparent-overlay);
}

.upfront-region-editing .upfront-region-editing-overlay {
    z-index: 20;
    background: $color--transparent-overlay;
}

.upfront-module:hover,
.upfront-object-group-on-edit .upfront-object:hover {
    background-color: $color--transparent-overlay;
    box-shadow: none;
}

.upfront-loading.upfront-boot {
    background: $color--overlay;
}

// Notifier
.upfront-logo {
    &::after {
        position: absolute;
        left: 125px;
        top: 10px;
        font-weight: bold;
        font-size: 24px;
        content: 'x-ray';
        color: #E1E4E7;
    }
    &::before {
        position: absolute;
        left: 125px;
        top: 25px;
        font-size: 12px;
        content: 'active';
        color: transparent;
        animation: pulse 1s infinite;
    }
}
